  <%= form_with(model: project) do |form| %>
      <% if project.errors.any? %>
        <div class="text-red-600 mb-4">
          <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

          <ul>
            <% project.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="mb-4">
        <%= form.label :name, class: "block font-medium" %>
        <%= form.text_field :name, class: "form-input mt-1 block w-full" %>
      </div>

      <div class="mb-4">
        <%= form.label :description, class: "block font-medium" %>
        <%= form.text_area :description, class: "form-textarea mt-1 block w-full" %>
      </div>

      <div class="mb-4">
        <%= form.text_field :user_id, value: current_user.id, type: :hidden, class: "form-input mt-1 block w-full" %>
      </div>

      <div class="text-center">
        <%= form.submit class: "px-4 py-2 bg-blue-500 hover:bg-blue-600 text-white rounded" %>
      </div>
    <% end %>